<!DOCTYPE html>
<html>
<head>
  <title>Megafon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://connect.soundcloud.com/sdk.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Megafon</a>
        <form class="navbar-form pull-right" action="/">
          <input type="text" name="hashtag" class="span3">
          <button type="submit" class="btn">Search</button>
        </form>
        <!-- <div class="nav-collapse">
          <ul class="nav">
            <li>Megafon</li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
<div class="container content">
  <div class="row">
      <div class="span12"><%= yield %></div>
  </div>
</div>
</body>
</html>
